<form method="post" action="{{ path('web_theme_delete', {'id': web_theme.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ web_theme.id) }}">
    <button class="btn">Delete</button>
</form>
