{% extends 'base.html.twig' %}

{% block title %}Hello and Welcome!{% endblock %}

{% block body %}


<section style="text-align:center;">

    <h3>How can we help?</h3>

    <a href="" >Find a musician</a> <br />
    <a href="{{ path('app_register')}}" >Advertize yourself</a> <br />
    <a href="" >Advertize a job position</a> <br />

</section>

{% endblock %}
