{% extends 'base.html.twig' %}

{% block body %}
    <form style="margin:100px;">
        <input type="text" id="number" placeholder="number" /><br />
        <textarea name="message" id="message" cols="30" rows="10" placeholder="message"></textarea><br />
        <button id="send-sms" type="button">Send SMS</button>
    </form>
{% endblock %}
