{% extends 'base.html.twig' %}

{% block title %}Edit PdfTheme{% endblock %}

{% block body %}
    <h1>Edit PdfTheme</h1>

    {{ include('pdf_theme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pdf_theme_index') }}">back to list</a>

    {{ include('pdf_theme/_delete_form.html.twig') }}
{% endblock %}
