{% extends 'base.html.twig' %}

{% block title %}New PdfTheme{% endblock %}

{% block body %}
    <h1>Create new PdfTheme</h1>

    {{ include('pdf_theme/_form.html.twig') }}

    <a href="{{ path('pdf_theme_index') }}">back to list</a>
{% endblock %}
