{% extends 'base.html.twig' %}

{% block title %}New FAQ{% endblock %}

{% block body %}
    <h1>Create new FAQ</h1>

    {{ include('faq/_form.html.twig') }}

    <a href="{{ path('f_a_q_index') }}">back to list</a>
{% endblock %}
