<div class="container" id="theme-two">
    <div class="row" id="header">
        <div class="col-md-12">
            <div class="row">
                <div class="col-1" id="for-prof-image"><img id="profile-image" src="assets/img/black%20portrait.jpg"></div>
                <div class="col-11">
                    <div id="name-and-title">
                        <h2>Joash Crotchet</h2>
                        <h3>Musician</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-user-circle-o"></i>&nbsp;Profile</h4>
                    <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit.
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas
                        eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-briefcase"></i>&nbsp;Employment History</h4>
                    <div>
                        <h5 class="text-muted mb-2">Some company name</h5>
                        <h6 class="text-muted mb-2">October 2016 - November 2020</h6>
                        <ul>
                            <li>Cras justo odio, dapibus ac facilisis in, egestas&nbsp;Cras justo odio, dapibus ac facilisis in, egestas</li>
                            <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                            <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                            <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                            <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="text-muted mb-2">Some company name</h5>
                        <h6 class="text-muted mb-2">October 2016 - November 2020</h6>
                        <ul>
                            <li>Cras justo odio, dapibus ac facilisis in, egestas&nbsp;Cras justo odio, dapibus ac facilisis in, egestas</li>
                            <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                            <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-graduation-cap"></i>&nbsp;Education</h4>
                    <div>
                        <h5 class="text-muted mb-2">Bachelor in music and dance, Kenyatta University</h5>
                        <h6 class="text-muted mb-2">Bachelor in music and dance, Kenyatta University</h6>
                        <ul>
                            <li>Graduated&nbsp;Cras justo odio</li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="text-muted mb-2">Diploma in bla bla, Some University</h5>
                        <h6 class="text-muted mb-2">Bachelor in music and dance, Kenyatta University</h6>
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><i class="fa fa-bullhorn"></i>&nbsp;Referees</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">John Smith</h5>
                                    <h6 class="text-muted card-subtitle mb-2">Company name</h6>
                                    <p>Contacts</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">John Smith</h5>
                                    <h6 class="text-muted card-subtitle mb-2">Company name</h6>
                                    <p>Contacts</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">John Smith</h5>
                                    <h6 class="text-muted card-subtitle mb-2">Company name</h6>
                                    <p>Contacts</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted card-subtitle mb-2">Details</h5>
                    <p class="card-text">Firstname Lastname<br>P.O. Box 23432 - 00100,<br>Nairobi,<br>Kenya</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted card-subtitle mb-2">Skills</h5>
                    <ul class="list-group">
                        <li class="list-group-item skill-list"><span>Skill 1</span></li>
                        <li class="list-group-item skill-list"><span>Skill 2</span></li>
                        <li class="list-group-item skill-list"><span>Skill 3</span></li>
                        <li class="list-group-item skill-list"><span>Skill 4</span></li>
                        <li class="list-group-item skill-list"><span>Skill 5</span></li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h6 class="text-muted card-subtitle mb-2">Languages</h6>
                    <ul class="list-group">
                        <li class="list-group-item skill-list"><span>Language 1</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
