<div class="modal fade" role="dialog" tabindex="-1" id="preview">
    <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Resume</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9" style="width:21cm;margin:auto;"><iframe id="resume-preview" class="embed-responsive-item" src="{{ path('musician_show', {'username': musician.username, 'download': 'show'})}}"></iframe></div>
            </div>
            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary" type="button">Save</button></div>
        </div>
    </div>
</div>
