<div id="skills" style="display:none;">
  <h1 class="text-center reg-heading">Skills</h1>
  <h3 class="text-center reg-heading-two">Now add all your musical skills</h3>
  <hr>
  <div class="steps-progressbar cursor-pointer">
    <ul>
      <li class="previous" id="goto-info">Info</li>
      <li class="previous" id="goto-jobs">Jobs</li>
      <li class="previous" id="goto-education">Education</li>
      <li class="active" id="goto-skills">Skills</li>
      <li id="goto-roles">Roles</li>
      <li id="goto-projects">Projects</li>
    </ul>
  </div>
  {% set toReturn = '<span class="btn btn-outline" style="cursor: pointer;" id="url-/admin/edit/skills/skill.id/false" data-toggle="modal" data-target="#editor"><i class="fa fa-pencil"></i></span>' %}
  <div class="register-photo">
    <div class="form-container">
      <form id="skills-form" class="underlined-inputs">
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-group">
              <legend>Skill (Add 1 skill at a time)</legend>
              <input name="skillname" class="init form-control auto-skillname-skills" type="text" id="skillname" autofocus="" required="" minlength="3"><small class="form-text text-muted">Write a skill that you have like piano, guitar or choral conducting</small>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <legend>Experience</legend>
              <input name="experienceofskill" class="form-control auto-experienceofskill-skills" type="text" id="experience" required="" minlength="3"><small class="form-text text-muted">How many years or months have you been practicing this skill?</small>
            </div>
          </div>
          <div class="col-md-12 notify-skills">
            <div class="form-group">
              <div>
                <fieldset>
                  <legend>Skill level</legend>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" class="custom-control-input auto-levelofskill-skills" name="levelofskill" value="Beginner" checked="">
                    <label class="custom-control-label" for="customRadioInline1">Beginner</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" class="custom-control-input auto-levelofskill-skills" name="levelofskill" value="Intermediate">
                    <label class="custom-control-label" for="customRadioInline2">Intermediate</label>
                  </div>
                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline3" class="custom-control-input auto-levelofskill-skills" name="levelofskill" value="Advanced">
                    <label class="custom-control-label" for="customRadioInline3">Advanced</label>
                  </div>
                </fieldset>
              </div>
              <small class="form-text text-muted">How many years or months have you been practicing this skill?</small>
            </div>
          </div>
          <input type="hidden" name="class" value="Skill" />
          <input type="hidden" name="extras" value="musician" />
          <input type="hidden" name="return" value='{{toReturn}}' />
          <input type="hidden" name="texttoreplace" value="skill.id" />

          <div class="col-sm-6 col-md-12">
            <div class="form-group reg-action"><button class="btn btn-info btn-lg" id="savedetail-skills" type="button">Save Skill</button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="next-prev">
    <div class="container">
      <div class="row">
        <div class="col-6"><a class="btn btn-info btn-block btn-lg" type="button" id="to-education-from-skills">Previous</a></div>
        <div class="col-6"><a class="btn btn-info btn-block btn-lg" type="button" id="to-roles-from-skills">Next</a></div>
      </div>
    </div>
  </div>
</div>