.action {
  padding: 50px;
}

.act {
  align-self: center;
  line-height: 4;
  font-size: 20px;
  margin: 5px;
}

#newAd-page, #trackAd-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 130%;
  background-color: #f5f5f5;
  display: none;
}

#close-icon {
  font-size: 20px;
  z-index: 10000;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50px;
  right: 50px;
  display: none;
  color: black!important;
  cursor: pointer;
}

.action-button {
  margin: 5px;
}

#ad-form .col-md-6 {
  margin-top: 15px;
}

#ad-form .col-12 {
  margin-top: 15px;
}

#advert, #track {
  max-width: 21cm;
  margin: 50px auto auto auto;
}

.search-card-img {
  max-width: 100px;
  margin: auto;
  margin-top: 10px;
}

.ribbon {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 2px 3px hsla(0,0%,53%,.25);
  background: #4dbe3b;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px;
  text-transform: uppercase;
}

.ribbon-info {
  width: 160px;
  height: 32px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 2px 3px hsla(0,0%,53%,.25);
  background: #a9c2f1;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: -42px;
  top: 20px;
  padding-top: 7px;
  text-transform: uppercase;
}

#suggestions .card {
  background-color: inherit;
  border: 1px solid #fff;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

#suggestions-ad .card {
  background-color: inherit;
  border: 1px solid #fff;
  padding-top: 10px;
  overflow: hidden;
  position: relative;
  padding: 20px;
}

.suggestion-title {
  font-size: 20px!important;
}

#newAd-page {
}

