* {
  margin: 0;
  padding: 0;
}

.accordian {
  width: 805px;
  height: 15cm;
  overflow: hidden;
  margin: 100px auto;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  margin-top: 0;
}

@media (max-width: 767px) {
  .accordian {
    width: 100%;
    height: 10cm;
    margin-top: 0;
  }
}

.accordian ul {
  width: 1200px;
}

.accordian li {
  position: relative;
  display: block;
  width: 160px;
  float: left;
  border-left: 1px solid #888;
  box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

@media (max-width: 767px) {
  .accordian li {
    width: 70px;
  }
}

.accordian ul:hover li {
  width: 40px;
}

.accordian ul li:hover {
  width: 11cm;
}

@media (max-width: 575px) {
  .accordian ul li:hover {
    width: 6cm;
  }
}

.accordian li img {
  display: block;
}

.image_title {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 640px;
  height: 60px;
  color: white;
  padding-top: 10px;
  padding-left: 10px;
}

.link-image {
  width: 15cm;
  height: 15cm;
}

#select-theme-heading {
  margin: 0;
}

@media (min-width: 992px) {
  #select-theme-heading {
    margin: 50px;
  }
}

.accordian .button-holder {
  position: relative;
}

.link-in-img {
  position: absolute;
  top: 250px;
  left: 50px;
  color: #fff!important;
}

.next-prev {
  padding-top: 0;
}

