.list-group-item.skill-list {
  border-bottom: 2px solid #76a6ef;
  border-top: none;
  border-left: none;
  border-right: none;
}

#profile-image {
  max-width: 60px;
  max-height: 60px;
}

#theme-two {
  max-width: 21cm;
  margin-top: 50px;
}

#name-and-title {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#theme-two h2 {
  font-size: 25px;
  padding: 0;
  font-weight: bold;
}

#theme-two h3 {
  font-size: 14px;
}

#theme-two h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.5px;
  margin-left: -20px;
}

#theme-two h5 {
  font-size: 14px;
  font-weight: bold;
}

#theme-two h6 {
  font-size: 12px;
}

#header {
  padding-bottom: 10px;
  position: relative;
}

.card-text {
  font-size: 14px;
}

#theme-two {
  font-size: 14px;
  border: 1px solid #e0d3d3;
  padding: 20px;
}

#theme-two .card {
  border: none;
}

#for-prof-image {
  padding: 0;
}

