{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}
{% block stylesheets %}
<style>
 body {
     background-position: center;
     background-color: #eee;
     background-repeat: no-repeat;
     background-size: cover;
     color: #505050;
     font-family: "Rubik", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.5;
     text-transform: none
 }

 .forgot {
     background-color: #fff;
     padding: 12px;
     border: 1px solid #dfdfdf
 }

 .padding-bottom-3x {
     padding-bottom: 72px !important
 }

 .card-footer {
     background-color: #fff
 }

 .btn {
     font-size: 13px
 }

 .form-control:focus {
     color: #495057;
     background-color: #fff;
     border-color: #76b7e9;
     outline: 0;
     box-shadow: 0 0 0 0px #28a745
 }
</style>

{% endblock %}
{% block body %}

	<div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <div class="forgot">
	                <h2>{{message}}</h2>
                    {% if success == true %}
	                <p>You can now visit your resume website at <a href="{{ path('musician_show', {'username' : username } ) }}">https://muske.co.ke/{{username}}</a></p>
	                <p>You can also visit your profile page at <a href="{{ path('musician_profile') }}">Profile Page</a></p>
                    {% endif %}
	            </div>
	        </div>
	    </div>
	</div>

{% endblock %}

