{% extends 'base_wizard.html.twig' %}

{% block title %}Musician index{% endblock %}

{% block stylesheets %}

  <title>jQuery UI Autocomplete - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


{% endblock %}
{% block body %}


<div class="ui-widget">
  <label for="skills">Skills: </label>
  <input id="skills">
</div>
 
<div class="ui-widget">
  <label for="job_roles">Job roles: </label>
  <input id="job_roles">
</div>
 

{% endblock %}
{% block javascripts %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var skills = [
        {% for skill in skills %}
            "{{skill}}",
        {% endfor %}
    ];
    var job_roles = [
        {% for role in job_roles %}
            "{{role}}",
        {% endfor %}
    ];
    $( "#skills" ).autocomplete({
      source: skills
    });
    $( "#job_roles" ).autocomplete({
      source: job_roles
    });
  } );
  </script>

{% endblock %}