{% extends 'base_wizard.html.twig' %}

{% block title %}More Info{% endblock %}

{% block body %}

	<div class="image-container set-full-height" style="background-image: url('{{ asset('img/wizard-city.jpg')}}')">

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="blue" id="wizard">
			                <form action="" method="">
			                <!--        You can switch " data-color="rose" "  with one of the next bright colors: "blue", "green", "orange", "purple"        -->

		                    	<div class="wizard-header">

		                        	<h3 class="wizard-title">
		                        		Add More Information
		                        	</h3>
									<h5>This information will help us build your portfolio.</h5>
		                    	</div>
								<div class="wizard-navigation">
									<ul>
			                            <li><a href="#information" data-toggle="tab">Information</a></li>
			                            <li><a href="#skill" data-toggle="tab">Skills</a></li>
			                            <li><a href="#facilities" data-toggle="tab">Facilities</a></li>
			                            <li><a href="#description" data-toggle="tab">Description</a></li>
			                        </ul>
								</div>

		                        <div class="tab-content">                              
		                            <div class="tab-pane" id="information">
		                            	<div class="row">
		                                	<div class="col-sm-12">
		                                    	<h4 class="info-text"> Let's start with the basic details</h4>
		                                	</div>
		                                	<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group label-floating">
		                                        	{# <label class="control-label">City</label> #}
                                                    <label class="control-label" for="fullname">Full name</label>
		                                        	{# <input type="text" class="form-control" id="exampleInputEmail1"> #}
                                                    <input type="text" class="form-control" id="fullname">
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group label-floating">
		                                        	{# <label class="control-label">City</label> #}
                                                    <label class="control-label" for="email">Email address</label>
		                                        	{# <input type="text" class="form-control" id="exampleInputEmail1"> #}
                                                    <input type="email" class="form-control" id="email">
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group label-floating">
		                                        	{# <label class="control-label">City</label> #}
                                                    <label class="control-label" for="phonenumber">Phone number</label>
		                                        	{# <input type="text" class="form-control" id="exampleInputEmail1"> #}
                                                    <input type="text" class="form-control" id="phonenumber">
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group label-floating">
		                                        	{# <label class="control-label">City</label> #}
                                                    <label class="control-label" for="age">Age</label>
		                                        	{# <input type="text" class="form-control" id="exampleInputEmail1"> #}
                                                    <input type="text" class="form-control" id="age">
		                                    	</div>
		                                	</div>
		                            	</div>
		                            </div>
		                            <div class="tab-pane" id="skill">
		                                <h4 class="info-text">Add as many skills as you have. Save each skill. </h4>
		                            	<div class="row">
		                                	<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group label-floating">
                                                    <label class="control-label" for="skillname">Skill (e.g piano, conducting, etc)</label>
                                                    <input type="text" class="form-control" id="skillname">
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group label-floating">
                                                    <label class="control-label" for="level">Skill Level (e.g beginner, intermediate, advanced)</label>
                                                    <input type="text" class="form-control" id="level">
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group label-floating">
                                                    <label class="control-label" for="experience">Experience (e.g 1 year, 3 years)</label>
                                                    <input type="text" class="form-control" id="experience">
		                                    	</div>
		                                	</div>
		                                	<div class="col-sm-5">
		                                    	<div class="form-group label-floating">
                                                    <button type="button" id="save_skill" class="btn btn-primary">Save This Skill</button>
		                                    	</div>
		                                	</div>
		                            	</div>
		                            </div>
		                            <div class="tab-pane" id="facilities">
		                                <h4 class="info-text">Tell us more about facilities. </h4>
		                                <div class="row">
		                                    <div class="col-sm-5 col-sm-offset-1">
		                                      <div class="form-group label-floating">
		                                        	<label class="control-label">Your place is good for</label>
		                                        	<select class="form-control">
		                                            	<option disabled="" selected=""></option>
		                                            	<option>Business</option>
		                                            	<option>Vacation </option>
		                                            	<option>Work</option>
		                                        	</select>
		                                    	</div>
		                                    </div>
		                                    <div class="col-sm-5">
		                                    	<div class="form-group label-floating">
		                                        	<label class="control-label">Is air conditioning included ?</label>
		                                        	<select class="form-control">
		                                            	<option disabled="" selected=""></option>
		                                            	<option>Yes</option>
		                                            	<option>No </option>
		                                        	</select>
		                                    	</div>
		                                    </div>
		                                    <div class="col-sm-5 col-sm-offset-1">
		                                    	<div class="form-group label-floating">
		                                        	<label class="control-label">Does your place have wi-fi?</label>
		                                        	<select class="form-control">
		                                    			<option disabled="" selected=""></option>
		                                            	<option>Yes</option>
		                                            	<option>No </option>
		                                        	</select>
		                                    	</div>
		                                    </div>
		                                    <div class="col-sm-5">
		                                    	<div class="form-group label-floating">
		                                        	<label class="control-label">Is breakfast included?</label>
		                                        	<select class="form-control">
		                                            	<option disabled="" selected=""></option>
		                                            	<option>Yes</option>
		                                            	<option>No </option>
		                                        	</select>
		                                    	</div>
	                                    	</div>
		                                </div>
		                            </div>
		                            <div class="tab-pane" id="description">
		                                <div class="row">
		                                    <h4 class="info-text"> Drop us a small description. </h4>
		                                    <div class="col-sm-6 col-sm-offset-1">
		                                        <div class="form-group label-floating">
		                                            <label class="control-label">Place description</label>
		                                            <textarea class="form-control" placeholder="" rows="9"></textarea>
		                                        </div>
		                                    </div>
		                                    <div class="col-sm-4">
		                                    	<div class="form-group label-floating">
		                                            <label class="control-label">Example</label>
		                                            <p class="description">"The place is really nice. We use it every sunday when we go fishing. It is so awesome."</p>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                        <div class="wizard-footer">
	                            	<div class="pull-right">
                                        {# <button type="button" id="update" class="btn btn-primary">Submit</button> #}
	                                    <input type='button' class='btn btn-next btn-fill btn-primary btn-wd' name='next'  id="update" value='Next' />
	                                    <input type='button' class='btn btn-finish btn-fill btn-primary btn-wd' name='finish' value='Finish' />
	                                </div>
	                                <div class="pull-left">
	                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
	                                </div>
		                            <div class="clearfix"></div>
		                        </div>
			                </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	    <div class="footer">
	        <div class="container text-center">
	             Made with <i class="fa fa-heart heart"></i> by <a href="http://www.creative-tim.com">Creative Tim</a>. Free download <a href="http://www.creative-tim.com/product/bootstrap-wizard">here.</a>
	        </div>
	    </div>
	</div>

{% endblock %}


{% block javascripts %}

    <script>
    $( "#update" ).click(function() {

    var fullname = $("#fullname").val();              
    var email = $("#email").val();              
    var phonenumber = $("#phonenumber").val();              
    var age = $("#age").val();              

        $.ajax({
            url:'{{ (path('update_user')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "fullname": fullname,
                "email": email,
                "phonenumber": phonenumber,
                "age": age,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                console.log("saved that");
            //   location.href = "{{path('skill_new')}}";
            //   if (typeof data.output.catArray != 'undefined'){
            //     $("#close").show();
            //     $("#categoryBox").show();
            //     $.each( data.output.catArray, function( key, value) {
            //       //console.log("this is why "+value[1]);

            //       $("#categoryBox").append('<button type="button" class="btn btn-info col-xs-6 col-sm-4" id="fromCagetory_'+value[0]+'" style="margin-top:5px;"><strong>'+value[1]+'</strong></button>');
            //     });

            //   }                                             
            },
            error: function () {
                $("#warning").html("<b>something's wrong</b>");
        }
        });

    });
    </script>

    <script>
    $( "#save_skill" ).click(function() {

    var skillname = $("#skillname").val();              
    var level = $("#level").val();              
    var experience = $("#experience").val();              

        $.ajax({
            url:'{{ (path('save_skill')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "skill": skillname,
                "level": level,
                "experience": experience,
            },
            async: true,
            success: function (data)
            {
                console.log(data);
                console.log("saved that");
                $("#skillname").val('')
                $("#level").val('')
                $("#experience").val('')
            },
            error: function () {
                // $("#warning").html("<b>something's wrong</b>");
                console.log('somethings wrong');
        }
        });

    });
    </script>

{% endblock %}