{% extends 'base.html.twig' %}

{% block title %}New Password{% endblock %}
{% block stylesheets %}
<style>
 body {
     background-position: center;
     background-color: #eee;
     background-repeat: no-repeat;
     background-size: cover;
     color: #505050;
     font-family: "Rubik", Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: normal;
     line-height: 1.5;
     text-transform: none
 }

 .forgot {
     background-color: #fff;
     padding: 12px;
     border: 1px solid #dfdfdf
 }

 .padding-bottom-3x {
     padding-bottom: 72px !important
 }

 .card-footer {
     background-color: #fff
 }

 .btn {
     font-size: 13px
 }

 .form-control:focus {
     color: #495057;
     background-color: #fff;
     border-color: #76b7e9;
     outline: 0;
     box-shadow: 0 0 0 0px #28a745
 }
 </style>

{% endblock %}
{% block body %}

	<div class="container padding-bottom-3x mb-2 mt-5">
	    <div class="row justify-content-center">
	        <div class="col-lg-8 col-md-10">
	            <div class="forgot">
	                <h2>Write your new password?</h2>
	            </div>
	            <form class="card mt-4">
	                <div class="card-body">
	                    <div class="form-group"> <label for="password">New Password</label> <input class="form-control" type="password" id="password" required=""><small class="form-text text-muted">Enter your new password.</small> </div>
	                </div>
	                <div class="card-body">
	                    <div class="form-group"> <label for="password_repeat">Confirm password</label> <input class="form-control" type="password" id="password_repeat" required=""><small class="form-text text-muted">Confirm the password written above by repeating it.</small> </div>
                        <span id="notify"></span>
	                </div>
	                <div class="card-footer"> <button id="change" class="btn btn-success" type="button">Submit New Password</button></div>
	            </form>
	        </div>
	    </div>
	</div>


{% endblock %}

{% block javascripts %}

    <script>
    $( "#change" ).click(function() {

	var password = $("#password").val();
	var password_repeat = $("#password_repeat").val();
    var username = "{{decoded_username}}";

    if(password != password_repeat){
        $("#notify").text("Passwords do not match");
    } else {
        $.ajax({
			url:"{{ path('musician_new_password', {'encoded_username': encoded_username}) }}",
			type: "POST",
			dataType: "json",
			data: {
				"username": username,
				"password": password,
			},
			async: true,
			success: function (data)
			{
				console.log(data);
                if(data == "homepage"){
					location.href = "{{ path('homepage')}}";
                } else {
                    $("#notify").text("Something is wrong.");
                }
				console.log("saved information");
			},
			error: function () {
				$("#warning").html("<b>something's wrong</b>");
			}
		});

    }

		

    });
    </script>



{% endblock %}