{% extends 'base.html.twig' %}

{% block title %}{{musician.fullname}} | Plan {% endblock %}
{% block stylesheets %}

{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
<style>
    html {
    font-size: 14px;
    }
    @media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    }

    body {
        padding-top: 0px;
        padding-bottom:0px;
    }

    .container {
    max-width: 960px;
    }

    .pricing-header {
    max-width: 700px;
    }

    .card-deck .card {
    min-width: 220px;
    }
</style>
{% endblock %}
{% block body %}

{% include "temp/plan_header.html.twig" %}
<!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1>Welcome to {{plan}} Membership!</h1>
      {% if plan == "basic" %}
      <p class="lead">
        Its free!
      </p>
      <p class="lead">
        MuSKe is a platform that has been created by music experts to cater for needs of other musicians. MuSKe is all aware of the plethora of problems that novice as well as experienced musicians face.
      </p>
      <p class="lead">
        Our basic account is designed to help musicians have their own resume page, generate resume for printing, advertize themselves and access advertisements in their profile pages. 
      </p>
      <p class="lead">
        To get more benefits, you are encouraged to become a MuSKe member. Its also free:
      </p>
      <p class="lead">
        Here are the benefits of being a basic member:
      </p>
      <ul class="lead">
          <li>Free resume page</li>
          <li>Download generated resume</li>
          <li>Clients can view resume online</li>
          <li>Notified when client needs you</li>
          <li>Profile notification on adverts</li>
          <li>Fully manage your page</li>
      </ul>
      <p class="lead">
        By default, your membership is basic. If you want to change back to basic from pro or muske, just click below
      </p>
      <div id="notify"></div>
      <button type="button" id="activate_basic" class="btn btn-primary btn-lg">Become a Basic member!</button>

      {% endif %}

      {% if plan == "muske" %}
      <p class="lead">
        Its free!
      </p>
      <p class="lead">
        MuSKe is a platform that has been created by music experts to cater for needs of other musicians. MuSKe is all aware of the plethora of problems that novice as well as experienced musicians face.
      </p>
      <p class="lead">
        We operate in a partner based relationship where we have customized our services to make sure musicians get what they deserve based on their qualifications, as we ensure that they constantly grow in their skills.
      </p>
      <p class="lead">
        In that light, musicians who become MuSKe members will benefit from:
      </p>
      <ul class="lead">
        <li>Increased visibility on our online musician search platform</li>
        <li>Secure a job for you that fits your education level, abilities, skills and experience</li>
        <li>Free resume page</li>
        <li>Download generated resume</li>
        <li>Clients can view resume online</li>
        <li>Resume in 3 formats</li>
        <li>Photo and video gallery</li>
        <li>Notified when client needs you</li>
        <li>Profile notification on adverts</li>
        <li>Fully manage your page</li>
        <li>Job offers from Muske</li>
        <li>Receive educational materials</li>
        <li>Events preparation tips</li>
        <li>Receive exam notifications</li>
        <li>Help in exam preparation</li>
        <li>Documents backup</li>
      </ul>
      <p class="lead">
        In all the jobs that we get for you, we will get a benefit of 10% and you will have 90% of the income. This is by far the best commission that you will ever receive!
      </p>
      <div id="notify"></div>
      <button type="button" id="activate_muske" class="btn btn-primary btn-lg">Become a MuSKe member!</button>

      {% endif %}
      {% if plan == "pro" %}
      <p class="lead">
        MuSKe is a platform that has been created by music experts to cater for needs of other musicians. MuSKe is all aware of the plethora of problems that experienced musicians as well as novice musicians face.
      </p>
      <p class="lead">
        A PRO account is like having your own website that you manage at your own will. With your own contacts and a simple website address like <span style="font-weight:bold;">muske.co.ke/username</span>, you can drive your social media traffic to your page and have them download your resume and have a look at your photo and video gallery.
      </p>
      <p class="lead">
        You will be able to manage all your information at your admin page, chat live with your clients, have all social media links leading to your social pages and so on...
      </p>
      <p class="lead">
        In that light, musicians who become Pro members will benefit from:
      </p>
      <ul class="lead">
        <li>Increased visibility on our online musician search platform</li>
        <li>Resume Page with various added features</li>
        <li>Download your own generated resume in different formats</li>
        <li>Clients can download your resume</li>
        <li>Resume page in different formats</li>
        <li>Resume with full contacts</li>
        <li>Photo and video gallery</li>
        <li>Direct contact with client</li>
        <li>Live chat with clients</li>
        <li>'Call me' button on your page</li>
        <li>Links to your social media pages</li>
        <li>Links to your project sites</li>
        <li>Profile notification on adverts</li>
        <li>Mail notification on adverts</li>
        <li>Rank first in searches</li>
        <li>Fully manage your page</li>
        <li>Receive ABRSM educational materials</li>
        <li>Receive ABRSM exam notifications</li>
        <li>Help in ABRSM exam preparation</li>
        <li>Documents backup</li>

      </ul>
      <p class="lead">
        You will pay a total of Kshs 1999 per year for all these services. If you accept the offer, we will take you to an Mpesa checkout page
      </p>
      <div id="notify"></div>
      <button type="button" id="activate_pro" class="btn btn-primary btn-lg">Become a Pro member!</button>

      {% endif %}
    </header>

    <!-- Page Features -->
    {# <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div> #}
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MuSKe {{"now"|date('Y')}}</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}                                                      
{% block javascripts %}													  
	<script>

  $(document).on("click", '[id^="activate_"]', function(){

  var project = jQuery(this).attr("id");
  var splitted = project.split('_'); 
	var membership = splitted[1];

	$(this).text("Please wait");

		$.ajax({
			url:'{{ path('change_membership') }}',
			type: "POST",
			dataType: "json",
			data: {
				"membership": membership,
			},
			async: true,
			success: function (data)
			{
				console.log(data);
				$("#notify").html(data);
				$(this).text("Become a " + membership + " Member");
			},
			error: function () {
				$("#warning").html("<b>something's wrong</b>");
			}
		});

	});

	</script>

{% endblock %}