{% extends 'base.html.twig' %}

{% block title %}{{musician.fullname}} | Plan {% endblock %}
{% block stylesheets %}

{# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
<style>
    html {
    font-size: 14px;
    }
    @media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    }

    body {
        padding-top: 0px;
        padding-bottom:0px;
    }

    .container {
    max-width: 960px;
    }

    .pricing-header {
    max-width: 700px;
    }

    .card-deck .card {
    min-width: 220px;
    }
</style>
{% endblock %}
{% block body %}

{% include "temp/plan_header.html.twig" %}
<!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h3 class="display-2">Welcome to {{plan}} Membership!</h3>
      {% if plan == "muske" %}
      <p class="lead">
        MuSKe is a platform that has been created by music experts to cater for needs of other musicians. MuSKe is all aware of the plethora of problems that novice as well as experienced musicians face.
      </p>
      <p class="lead">
        We will operate in a partner based relationship where we have customized our services tomake sure musicians get what they deserve based on their qualifications, as we ensure that they constantly grow in their skills.
      </p>
      <p class="lead">
        In that light, musicians who become MuSKe members will benefit from:
      </p>
      <ul>
        <li>Increased visibility on our online musician search platform</li>
        <li>Secure a job for you that fits your education level, abilities, skills and experience</li>
        <li>Free resume page</li>
        <li>Download generated resume</li>
        <li>Clients can view resume online</li>
        <li>Resume in 3 formats</li>
        <li>Photo and video gallery</li>
        <li>Notified when client needs you</li>
        <li>Profile notification on adverts</li>
        <li>Fully manage your page</li>
        <li>Job offers from Muske</li>
        <li>Receive educational materials</li>
        <li>Events preparation tips</li>
        <li>Receive exam notifications</li>
        <li>Help in exam preparation</li>
        <li>Documents backup</li>
      </ul>
      {% endif %}
      <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="http://placehold.it/500x325" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; MuSKe {{"now"|date('Y')}}</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

{% endblock %}                                                      
{% block javascripts %}													  

{% endblock %}