<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{asset('bootstrap/css/bootstrap.min.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{asset('css/carousel.css')}}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('js/jquery.min.js') }}"></script>        
        <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>        
        {% block javascripts %}{% endblock %}
    </body>
</html>
