<!DOCTYPE html>
<html>
<head>
	<title>Resume</title>
    {% block stylesheets %}{% endblock %}
	<style> strong { font-weight: bold; }</style>
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
