			<p> {{musician.about}}</p>
			<p>{% if musician.settings and musician.settings.tsc == 'true' %}  TSC Certified  {% endif %} </p>
			<p>{% if musician.settings and musician.settings.online == 'true' %}  Online Lessons Available  {% endif %} </p>
			<p>{% if musician.settings and musician.settings.placeofwork != null %}  {{musician.settings.placeofwork}}  {% endif %} </p>
