			<p> {{musician.about}}</p>
			<p>{% if musician.settings and musician.settings.tsc == 'true' %} <li> TSC Certified  </li>{% endif %} </p>
			<p>{% if musician.settings and musician.settings.online == 'true' %} <li> Online Lessons Available  </li>{% endif %} </p>
			<p>{% if musician.settings and musician.settings.placeofwork != null %} <li> {{musician.settings.placeofwork}}  </li>{% endif %} </p>
