        {% if musician.hassettings and (musician.isproandactive or musician.ismuskeandactive) %}
        <div id="call-me-back">
          <p  id="call-btn" class="btn-c btn-success btn-circle btn-xl closed centered removeableId">
            <i class="fa fa-fw fa-phone faa-horizontal animated"></i>
          </p>
          <span id="close" style="font-size:2em; cursor:pointer; display:none;" aria-hidden="true">
            &times;
          </span>
        </div>
        {% endif %}

