        <!-- BEGIN PHP Live! HTML Code [V3] -->
        <span style="color: #0000FF; text-decoration: underline; line-height: 0px !important; cursor: pointer; position: fixed; top: 50%; right: 25px; z-index: 20000000;" id="phplive_btn_1590492179"></span>
        <script data-cfasync="false" type="text/javascript">

        (function() {
        var phplive_e_1590492179 = document.createElement("script") ;
        phplive_e_1590492179.type = "text/javascript" ;
        phplive_e_1590492179.async = true ;
        phplive_e_1590492179.src = "https://phplive.muske.co.ke/js/phplive_v2.js.php?v=0%7C1590492179%7C0%7C&" ;
        document.getElementById("phplive_btn_1590492179").appendChild( phplive_e_1590492179 ) ;
        if ( [].filter ) { document.getElementById("phplive_btn_1590492179").addEventListener( "click", function(){ phplive_launch_chat_0() } ) ; } else { document.getElementById("phplive_btn_1590492179").attachEvent( "onclick", function(){ phplive_launch_chat_0() } ) ; }
        })() ;

        </script>
        <!-- END PHP Live! HTML Code [V3] -->                
