{% extends 'pdfBase.html.twig' %}

{% block title %}Resume{% endblock %}
{% block stylesheets %}

<style>

    /*! CSS Used from: http://127.0.0.1:8000/bootstrap/css/bootstrap.min.css */
    /*! @import https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&display=swap */
    /*! CSS Used from: https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&display=swap */
    /*! end @import */
    *,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}
    h2,h3,h4,h5,h6{margin-top:0;margin-bottom:0.5rem;}
    p{margin-top:0;margin-bottom:1rem;}
    ul{margin-top:0;margin-bottom:1rem;}
    img{vertical-align:middle;border-style:none;}
    h2,h3,h4,h5,h6{margin-bottom:0.5rem;font-weight:500;line-height:1.2;color:#2d2d2d;}
    h2{font-size:2rem;}
    h3{font-size:1.75rem;}
    h4{font-size:1.5rem;}
    h5{font-size:1.25rem;}
    h6{font-size:1rem;}
    .container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
    @media (min-width: 576px){
    .container{max-width:540px;}
    }
    @media (min-width: 768px){
    .container{max-width:720px;}
    }
    @media (min-width: 992px){
    .container{max-width:960px;}
    }
    @media (min-width: 1200px){
    .container{max-width:1140px;}
    }
    @media (min-width: 576px){
    .container{max-width:540px;}
    }
    @media (min-width: 768px){
    .container{max-width:720px;}
    }
    @media (min-width: 992px){
    .container{max-width:960px;}
    }
    @media (min-width: 1200px){
    .container{max-width:1140px;}
    }
    .row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
    .col-1,.col-11,.col-md-4,.col-md-8,.col-md-12{position:relative;width:100%;padding-right:15px;padding-left:15px;}
    .col-1{-webkit-box-flex:0;-ms-flex:0 0 8.3333333333%;flex:0 0 8.3333333333%;max-width:8.3333333333%;}
    .col-11{-webkit-box-flex:0;-ms-flex:0 0 91.6666666667%;flex:0 0 91.6666666667%;max-width:91.6666666667%;}
    @media (min-width: 768px){
    .col-md-4{-webkit-box-flex:0;-ms-flex:0 0 33.3333333333%;flex:0 0 33.3333333333%;max-width:33.3333333333%;}
    .col-md-8{-webkit-box-flex:0;-ms-flex:0 0 66.6666666667%;flex:0 0 66.6666666667%;max-width:66.6666666667%;}
    .col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
    }
    .card{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;border:1px solid rgba(0,0,0,0.125);border-radius:0.25rem;}
    .card-body{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;min-height:1px;padding:1.25rem;}
    .card-title{margin-bottom:0.75rem;}
    .card-subtitle{margin-top:-0.375rem;margin-bottom:0;}
    .card-text:last-child{margin-bottom:0;}
    .list-group{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;padding-left:0;margin-bottom:0;border-radius:0.25rem;}
    .list-group-item{position:relative;display:block;padding:0.75rem 1.25rem;background-color:#fff;border:1px solid rgba(0,0,0,0.125);}
    .list-group-item:first-child{border-top-left-radius:inherit;border-top-right-radius:inherit;}
    .list-group-item:last-child{border-bottom-right-radius:inherit;border-bottom-left-radius:inherit;}
    .list-group-item:disabled{color:#777;pointer-events:none;background-color:#fff;}
    .list-group-item+.list-group-item{border-top-width:0;}
    .mb-2{margin-bottom:0.5rem!important;}
    .text-muted{color:#777!important;}
    @media print{
    *,*::before,*::after{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
    img{page-break-inside:avoid;}
    p,h2,h3{orphans:3;widows:3;}
    h2,h3{page-break-after:avoid;}
    .container{min-width:992px!important;}
    }
    .card h4,.card h5,.card h6{color:inherit;}
    /*! CSS Used from: http://127.0.0.1:8000/fonts/fontawesome-all.min.css */
    .fa{-moz-osx-font-smoothing:grayscale;-webkit-font-smoothing:antialiased;display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;line-height:1;}
    .fa-briefcase:before{content:"\f0b1";}
    .fa-bullhorn:before{content:"\f0a1";}
    .fa-graduation-cap:before{content:"\f19d";}
    .fa{font-family:"Font Awesome 5 Free";}
    .fa{font-weight:900;}
    /*! CSS Used from: http://127.0.0.1:8000/fonts/font-awesome.min.css */
    .fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
    .fa-bullhorn:before{content:"\f0a1";}
    .fa-briefcase:before{content:"\f0b1";}
    .fa-graduation-cap:before{content:"\f19d";}
    .fa-user-circle-o:before{content:"\f2be";}
    /*! CSS Used from: http://127.0.0.1:8000/theme_two.css */
    .list-group-item.skill-list{border-bottom:2px solid #76a6ef;border-top:none;border-left:none;border-right:none;}
    #profile-image{max-width:60px;max-height:60px;}
    #theme-two{max-width:21cm;margin-top:50px;}
    #name-and-title{margin:0;position:absolute;top:50%;-ms-transform:translateY(-50%);transform:translateY(-50%);}
    #theme-two h2{font-size:25px;padding:0;font-weight:bold;}
    #theme-two h3{font-size:14px;}
    #theme-two h4{font-size:16px;font-weight:bold;line-height:1;letter-spacing:0.5px;margin-left:-20px;}
    #theme-two h5{font-size:14px;font-weight:bold;}
    #theme-two h6{font-size:12px;}
    #header{padding-bottom:10px;position:relative;}
    .card-text{font-size:14px;}
    #theme-two{font-size:14px;border:1px solid #e0d3d3;padding:20px;}
    #theme-two .card{border:none;}
    #for-prof-image{padding:0;}
</style>
{% endblock %}
{% block body %}
    <div>
        <div class="container" id="theme-two">
            <div class="row" id="header">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-1" id="for-prof-image"><img id="profile-image" src="{{musician.thumbnailurl}}"></div>
                        <div class="col-11">
                            <div id="name-and-title">
                                <h2>Joash Crotchet</h2>
                                <h3>Musician</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fa fa-user-circle-o"></i>&nbsp;Profile</h4>
                            <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit.
                                Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas
                                eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fa fa-briefcase"></i>&nbsp;Employment History</h4>
                            <div>
                                <h5 class="text-muted mb-2">Some company name</h5>
                                <h6 class="text-muted mb-2">October 2016 - November 2020</h6>
                                <ul>
                                    <li>Cras justo odio, dapibus ac facilisis in, egestas&nbsp;Cras justo odio, dapibus ac facilisis in, egestas</li>
                                    <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                    <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                    <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                    <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                </ul>
                            </div>
                            <div>
                                <h5 class="text-muted mb-2">Some company name</h5>
                                <h6 class="text-muted mb-2">October 2016 - November 2020</h6>
                                <ul>
                                    <li>Cras justo odio, dapibus ac facilisis in, egestas&nbsp;Cras justo odio, dapibus ac facilisis in, egestas</li>
                                    <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                    <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fa fa-graduation-cap"></i>&nbsp;Education</h4>
                            <div>
                                <h5 class="text-muted mb-2">Bachelor in music and dance, Kenyatta University</h5>
                                <h6 class="text-muted mb-2">Bachelor in music and dance, Kenyatta University</h6>
                                <ul>
                                    <li>Graduated&nbsp;Cras justo odio</li>
                                </ul>
                            </div>
                            <div>
                                <h5 class="text-muted mb-2">Diploma in bla bla, Some University</h5>
                                <h6 class="text-muted mb-2">Bachelor in music and dance, Kenyatta University</h6>
                                <ul></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-muted card-subtitle mb-2">Details</h5>
                            <p class="card-text">Firstname Lastname<br>P.O. Box 23432 - 00100,<br>Nairobi,<br>Kenya</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="text-muted card-subtitle mb-2">Skills</h5>
                            <ul class="list-group">
                                <li class="list-group-item skill-list"><span>Skill 1</span></li>
                                <li class="list-group-item skill-list"><span>Skill 2</span></li>
                                <li class="list-group-item skill-list"><span>Skill 3</span></li>
                                <li class="list-group-item skill-list"><span>Skill 4</span></li>
                                <li class="list-group-item skill-list"><span>Skill 5</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-muted card-subtitle mb-2">Languages</h6>
                            <ul class="list-group">
                                <li class="list-group-item skill-list"><span>Language 1</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fa fa-bullhorn"></i>&nbsp;Referees</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">John Smith</h5>
                                            <h6 class="text-muted card-subtitle mb-2">Company name</h6>
                                            <p>Contacts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">John Smith</h5>
                                            <h6 class="text-muted card-subtitle mb-2">Company name</h6>
                                            <p>Contacts</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">John Smith</h5>
                                            <h6 class="text-muted card-subtitle mb-2">Company name</h6>
                                            <p>Contacts</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                	
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
