{% extends 'pdfBase.html.twig' %}

{% block title %}Resume{% endblock %}
{% block stylesheets %}

<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
<style type="text/css">
.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}

#theme-two{
    max-width: 21cm;
    height: 100vh;
    margin: auto;
    padding-top: 10px;
    display: block;
    overflow: auto;
    border: 1px solid #eee;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;

}

h4 {
    margin: 7px;
}

h5 {
    font-size: 1.1rem;
    margin: 5px;
    color: #6a6464;
}

h6 {
    font-size: 1rem;
    color: #777;
    margin: 5px;
    font-weight: normal;
}

.col-md-12 {
    width: 100%;
}

.col-md-8 {
    width: 66.3%;
    float: left;
}

.col-md-4 {
    width: 33.3%;
    float: left;
}

.col-2 {
    width:15%;
    float: left;
}

.col-10 {
    width: 83%;
    float: left;
}

.col-10 h2, .col-10 h3 {
    margin: 0px;
    padding: 0px;

}

.clear {
    clear: both;
}

.row {
    width: 100%;
}

.card {
    padding: 10px 20px;
}

img{page-break-inside:avoid;}

#profile-image{
    max-width: 70px;
}

.skill-list {
    border-bottom: 2px solid #446E9B;
    display: block;
    padding: 0.75rem 1.25rem;
}

.list-group {
    list-style: none;
    padding-left: 0;
}​
</style>

{% endblock %}

{% block body %}
<div id="container-outer">
    <div class="container" id="theme-two">
        <div class="row" id="header">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-2" id="for-prof-image"><img id="profile-image" src="{{musician.thumbnailurl}}"></div>
                    <div class="col-10">
                        <div id="name-and-title">
                            <h2>Joash Crotchet</h2>
                            <h3>Musician</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <img src="https://muske.co.ke/icons/user.png" style="float:left;margin:0px;margin-left:-20px;padding:0px;width:20px; height:20px;" />
                        <h4 class="card-title" style="width:80%">&nbsp;Profile</h4>
                        <p class="card-text">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit.
                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.&nbsp;Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas
                            eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="https://muske.co.ke/icons/briefcase.png" style="float:left;margin:0px;margin-left:-20px;padding:0px;width:20px; height:20px;" />
                        <h4 class="card-title" style="width:80%">&nbsp;Employment History</h4>
                        <div>
                            <h5 class="text-muted mb-2">Some company name</h5>
                            <h6 class="text-muted mb-2">October 2016 - November 2020</h6>
                            <ul>
                                <li>Cras justo odio, dapibus ac facilisis in, egestas&nbsp;Cras justo odio, dapibus ac facilisis in, egestas</li>
                                <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                            </ul>
                        </div>
                        <div>
                            <h5 class="text-muted mb-2">Some company name</h5>
                            <h6 class="text-muted mb-2">October 2016 - November 2020</h6>
                            <ul>
                                <li>Cras justo odio, dapibus ac facilisis in, egestas&nbsp;Cras justo odio, dapibus ac facilisis in, egestas</li>
                                <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                                <li>Cras justo odio, dapibus ac facilisis in, egestas</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="https://muske.co.ke/icons/graduation-cap.png" style="float:left;margin:0px;margin-left:-20px;padding:0px;width:20px; height:20px;" />
                        <h4 class="card-title" style="width:80%">&nbsp;Education</h4>
                        <div>
                            <h5 class="text-muted mb-2">Bachelor in music and dance, Kenyatta University</h5>
                            <h6 class="text-muted mb-2">Bachelor in music and dance, Kenyatta University</h6>
                            <ul>
                                <li>Graduated&nbsp;Cras justo odio</li>
                            </ul>
                        </div>
                        <div>
                            <h5 class="text-muted mb-2">Diploma in bla bla, Some University</h5>
                            <h6 class="text-muted mb-2">Bachelor in music and dance, Kenyatta University</h6>
                            <ul></ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <img src="https://muske.co.ke/icons/bullhorn.png" style="float:left;margin:0px;margin-left:-20px;padding:0px;width:20px; height:20px;" />
                        <h4 class="card-title" style="width:80%;margin-top:-5px;">&nbsp;Referees</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p><strong>First Last</strong></p>
                                        <p><i>Institution</i></p>
                                        <p>Phone</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p><strong>First Last</strong></p>
                                        <p><i>Institution</i></p>
                                        <p>Phone</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <p><strong>First Last</strong></p>
                                        <p><i>Institution</i></p>
                                        <p>Phone</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted card-subtitle mb-2">Details</h5>
                        <p class="card-text">Firstname Lastname<br>P.O. Box 23432 - 00100,<br>Nairobi,<br>Kenya</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted card-subtitle mb-2">Skills</h5>
                        <ul class="list-group">
                            <li class="list-group-item skill-list"><span>Skill 1</span></li>
                            <li class="list-group-item skill-list"><span>Skill 2</span></li>
                            <li class="list-group-item skill-list"><span>Skill 3</span></li>
                            <li class="list-group-item skill-list"><span>Skill 4</span></li>
                            <li class="list-group-item skill-list"><span>Skill 5</span></li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h6 class="text-muted card-subtitle mb-2">Languages</h6>
                        <ul class="list-group">
                            <li class="list-group-item skill-list"><span>Language 1</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

{% endblock %}