{% extends 'pdfBase.html.twig' %}

{% block title %}Resume{% endblock %}
{% block stylesheets %}
	<style type="text/css" media="all">
		html{
			background-color:#FFF;
			padding:0 1em;
			}
		body {
			background-color:#FFF;
			font-family:Georgia, "Times New Roman", Times, serif;
			padding:1em;
			border:solid #AAA 1px;
			margin:1em auto;
			max-width: 50em;
			}
		#address{
			height:5em;
			width:48em;
			padding:1em;
			}
		#address div{
			width:16em;
			float:left;
			}
		#address h3{
			border-bottom: none;
			font-variant: small-caps;
			margin-top: 0;
			}	
		.date {
			float:right;
			font-size:.8em;
			margin-top:.4em;
			text-align:right;
			}
		abbr, acronym{
			border-bottom:1px dotted #333;
			cursor:help;
			}	
		address{
			font-style:italic;
			color:#333;
			font-size:.9em;
			margin-top: 0px;
			}
		.content{
			width:32em;
			margin:0 0 0 16em;
			}	
		.section{
			border-top:1px solid #ccc;
			margin:1em 0;
			padding:1em;
			}
		ul{
			padding-left:.5em;
			margin-left:.5em;
			}
		h1{
			font-size:1.75em;
			font-family:Georgia, "Times New Roman", Times, serif;
			}
		h2 {
			width:14em;
			float:left;
			font-size:1em;
			font-variant: small-caps;
			letter-spacing: .06em;
			}
		h3 {margin-bottom: 0;}

		.referee {
			float: left;
			width: 33.3333333%;

		}

		.referee p {
			padding:0px;
			margin:0px;
		}


	</style>
	<style type="text/css" media="print">
		body {
			background-color:#FFF;
			border-width:0 0 0 0;
			margin:0;
			width:100%
			}
	</style>    
{% endblock %}
{% block body %}
<div class="container">

	<div id="address" style="margin-bottom: 80px;">
		{% include "reusable/_threecolumnaddress_.html.twig" %}
	</div>
	
	<div class="section">
		<h2>About me</h2>
		<div class="content">
			{% include "reusable/_simpleabout_.html.twig" %}
		</div>
	</div>
	<div class="section">
		<h2>Summary of Specialty</h2>
		<div class="content">
			{% include "reusable/_simplespecialty_.html.twig" %}
		</div>
	</div>
	
	<div class="section">
		<h2>Work Experience</h2>
		<div class="content">
			{% include "reusable/_simpleexperience_.html.twig" %}
		</div>
	</div>
	
    {% if musician.projects is not empty %}
	<div class="section">
		<h2>Projects</h2>
		<div class="content">
			{% include "reusable/_simpleprojects_.html.twig" %}
		</div>
	</div>
    {% endif %}

	<div class="section">
		<h2>Education</h2>
		<div class="content">
			{% include "reusable/_simpleeducation_.html.twig" %}
		</div>
	</div>

	<div class="section">
		<h2>Skills</h2>
		<div class="content">
			<ul>
			{% include "reusable/_simpleskills_.html.twig" %}
			</ul>
		</div>
	</div>

	<div class="section">
		<h2>Details</h2>
		<div class="content">
			{% include "reusable/_details_.html.twig" %}
		</div>
	</div>

	<div class="section">
		<h2>Referees</h2>
		<div class="content">
			{% include "reusable/_referees_.html.twig" %}
		</div>
	</div>


</div><!-- container -->
{% endblock %}
