{% extends 'base.html.twig' %}

{% block title %}Muske | New Advert{% endblock %}
{% block stylesheets %}
<style>
    .highlight-clean {
  color: #313437;
  background-color: #fff;
  padding: 50px 0;
}

.highlight-clean p {
  color: #7d8285;
}

.highlight-clean h2 {
  font-weight: bold;
  margin-bottom: 25px;
  line-height: 1.5;
  padding-top: 0;
  margin-top: 0;
  color: inherit;
}

.highlight-clean .intro {
  font-size: 16px;
  max-width: 500px;
  margin: 0 auto 25px;
}

.highlight-clean .buttons {
  text-align: center;
}

.highlight-clean .buttons .btn {
  padding: 16px 32px;
  margin: 6px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none;
  background-color: #ddd;
}

.highlight-clean .buttons .btn:hover {
  opacity: 1;
}

.highlight-clean .buttons .btn:active {
  transform: translateY(1px);
}

.highlight-clean .buttons .btn-primary {
  background-color: #055ada;
  color: #fff;
}


</style>
{% endblock %}
{% block body %}
    {% include "reusable/nav.html.twig" %}
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Advertize!</h2>
                <p class="text-center">You can create a new advert or track an existing one.<br />To track your existing advert, you&#39;ll enter your phone number and a secret code that was sent to your email when you created the advert.<br /></p>
            </div>
            <div class="buttons">
                <a class="btn btn-primary"id="for-newAd" role="button" href="#">New Advert</a>
                <button class="btn btn-light" id="for-trackAd" type="button">track advert</button>
            </div>
        </div>
    </div>    

    <div class="bounce animated" id="newAd-page">
        <div class="container advert" id="advert">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Advertize</h4>
                            <h6 class="text-muted card-subtitle mb-2">Find exactly who you need.</h6>
                            <p class="card-text">You will be able to track this advert. We will send you a code to your email after you submit the ad information. The code will be used for tracking your advertizement.&nbsp;<br><br>If you need help on how to make a captivating
                                advert, We are always here for you. Call us on 0705285959.
                            </p>
                            <hr>
                            <form id="advert-form">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Person / Institution</label>
                                            <input id="institution" name="institution" class="form-control" type="text" autofocus="" placeholder="Institution or Individual name">
                                            <small class="form-text text-muted">Write your name or the name of the institution</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <input id="location" name="location" class="form-control" type="text" autofocus="" placeholder="eg. Nairobi">
                                            <small class="form-text text-muted">Where are you based?</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Job Position</label>
                                            <input id="job_position" name="task" class="form-control" type="text" autofocus="" placeholder="eg. Music Director">
                                            <small class="form-text text-muted">Which job position are you advertizing?</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Last date of advert</label>
                                            <input id="deadline" name="deadline" class="form-control" type="date">
                                            <small class="form-text text-muted">Your ad will expire on the date you enter here.</small>
                                        </div>
                                    </div>
                                    <div class="col-12" id="myForm">
                                        <div class="form-group"><label>Job Description</label></div>
                                        <textarea id="job_description" name="jobdescription" class="form-control form-control-lg" autocomplete="on" spellcheck="true" placeholder="Describe the person you need"></textarea>
                                        <small class="form-text text-muted">Help text for a form field.</small>
                                    </div>
                                    <div
                                        class="col-md-6">
                                        <div class="form-group">
                                            <label>Minimum Education Level</label>
                                            <select id="education_level" name="courselevel" class="form-control">
                                                <optgroup label="- Specify -">
                                                    <option value="any" selected="">Any Level but Competent</option>
                                                    <option value="certificate">Certificate</option>
                                                    <option value="diploma">Diploma</option>
                                                    <option value="degree">Degree</option>
                                                    <option value="masters">Masters or above</option>
                                                </optgroup>
                                            </select>
                                            <small
                                                class="form-text text-muted">Select an education level that you prefer</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Course of study</label>
                                            <input id="course" name="education" class="form-control" type="text" placeholder="eg. Music">
                                            <small class="form-text text-muted">Which course would you want the musician to have studied?</small>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label>Skills required</label>
                                            <input id="skills" name="skill" class="form-control" type="text" placeholder="eg. congregation accompaniment">
                                            <small class="form-text text-muted">Separate with comma: Type the skills that you need the music instructor to have. eg. Playing piano, Teaching a choir etc</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input id="email" name="email" class="form-control" type="email" placeholder="email@example.com">
                                            <small class="form-text text-muted">You will receive the ad tracking code through this email</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input id="phone_number" name="phone" class="form-control" type="text" placeholder="0700123456">
                                            <small class="form-text text-muted">We will contact you when we get someone you may need</small>
                                        </div>
                                    </div>
                                    <input type="hidden" name="extras" value="submitted-code" />
                                    <input type="hidden" name="class" value="Advert" />
                                    <input type="hidden" name="notification" value="advert" />
                                    <div class="col-12 notify">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block" id="save-advert" type="button">Post Advertizement</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="suggestions-ad">
                <div class="col-12">
                    <h3 style="font-size: 14px; font-weight:bold;" class="text-center">Suggestions</h3>
                </div>
                {% include "advert/suggestions.html.twig" %}
            </div>
        </div>
    </div>
    <div class="bounce animated" id="trackAd-page">
        <div class="container advert" id="track">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Track your ad</h4>
                            <h6 class="text-muted card-subtitle mb-2">See how your advert is doing.</h6>
                            <p class="card-text">Our job is to ensure your ad reaches as many musicians as possible. Here is a report of how your ad is doing. In case you need help in getting the person you need, we're always here for you. Call us on 0705285959.</p>
                            <hr>
                            <form id="ad-form">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your phone number</label>
                                            <input id="phone" class="form-control" type="text" autofocus="">
                                            <small class="form-text text-muted">Enter your phone number</small>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your ad tracking code</label>
                                            <input id="code" class="form-control" type="text">
                                            <small class="form-text text-muted">The code that was sent to your email after you created your advert</small>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group"><button class="btn btn-primary btn-block" id="load-advert" type="button">View ad progress</button></div>
                                    </div>
                                </div>
                            </form>
                            <div class="embed-responsive embed-responsive-16by9" style=""><iframe id="tracker" class="embed-responsive-item" src=""></iframe></div>
                        </div>
                        <hr>
                        {% include "advert/suggestions.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="close-icon" style="position: fixed;"><i class="fa fa-close"></i></div>
    
{% endblock %}

{% block javascripts %}

    <script>
        $( "#save-advert" ).click(function() {
        
			var myId = "#save-advert";
			var splitted = myId.split('-'); 
			var div = splitted[1];
			var form = $("#"+div+"-form");
            saveDetails(div, ".notify");	
            		
			$.notify({
				icon: 'glyphicon glyphicon-ok',
				message: 'Your advert has been created and sent to all musicians. Check your email for a tracking code',
			},{
                element: ".notify",
				type: "info",
				allow_dismiss: true,
				newest_on_top: false,
                delay: 10000,
				placement: {
					from: 'bottom',
					align: 'center'
				}
			});

        });
        
        
    </script>
    <script>
        $( "#load-advert" ).click(function() {
        
                var phone = $("#phone").val();
                var code = $("#code").val();
        
                console.log("loading...");
        
                $.ajax({
                    url:"{{ (path('advert_track')) }}",
                    type: "POST",
                    dataType: "json",
                    data: {
                        "phone": phone,
                        "code": code,
                    },
                    async: true,
                    success: function (data)
                    {
                        console.log(data);
                        var iframe = document.getElementById('tracker');
		                iframe.src = data;

                    },
                    error: function (err) {
                        console.log(err.responseText);
                    }
                });
        
        });
        
        
    </script>

{% endblock %}