{% extends 'base.html.twig' %}

{% block title %}Edit Reply{% endblock %}

{% block body %}
    <h1>Edit Reply</h1>

    {{ include('blog/reply/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('reply_index') }}">back to list</a>

    {{ include('blog/reply/_delete_form.html.twig') }}
{% endblock %}
