{% extends 'base.html.twig' %}

{% block title %}Hello PaymentController!{% endblock %}

{% block body %}
<div id="box" style="margin: 100px; padding: 100px;">
    <button id="test-stuff">Trigger</button>
</div>
{% endblock %}
{% block javascripts %}

<script>

$( "#test-stuff" ).click(function() {

    var calltime = 'test data';
    
    $.ajax({
        url:"{{ (path('leepahnapush')) }}",
        type: "POST",
        dataType: "json",
        data: {
            "calltime": calltime,
        },
        async: true,
        success: function (data)
        {
            console.log(data);
            $("#box").append('<button id="get-status-'+data+'">Get status</button>');
        },
        error: function (err) {
            console.log("there is a problem: "+err.responseText);
        }
    });
    

});

</script>

<script>

$(document).on("click", '[id^="get-status-"]', function(){

    var myId = jQuery(this).attr("id");
    var splitted = myId.split('-'); 
    var CheckoutRequestID = splitted[2];
    
    $.ajax({
        url:"{{ (path('leepahnapush_status')) }}",
        type: "POST",
        dataType: "json",
        data: {
            "CheckoutRequestID": CheckoutRequestID,
        },
        async: true,
        success: function (data)
        {
            console.log(data);
        },
        error: function (err) {
            console.log("there is a problem: "+err.responseText);
        }
    });
    

});

</script>


{% endblock %}